@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body {
    background-color:#1c232b;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
