#matter{
  margin: 4rem 1rem;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 3.125rem;
  letter-spacing: 0.0625rem;
}

.emphasis {
  color: #8D74EC;
}

.subtitle {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
  height: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 1200px;
  margin: auto;
  margin-top: 6rem;
  padding: 2rem;
  grid-gap: 1.5rem
}

.grid-item {
  padding: 0.5rem;
  border-radius: 0.6875rem;
  width: 100%;
}

.top-left {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.box-purple {
  background: #8D74EC;
}

.top-row {
  position: relative;
  padding: .5rem;
}

.box-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.5625rem;
  letter-spacing: 0.03125rem;
}

.box-icon {
  fill: #FFF;
  position: absolute;
  top: 20px;
  right: 10px;
}

.box-paragraph {
  padding: 1rem ;
  color: #FFF;
  width: 80%;
}

.top-right {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.box-dark {
  background: #2D2D2D80;
}

.bottom-left {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.bottom-right {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

/* Mobile */
@media (max-width: 960px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #box3{
    order: 2;
  }

  #box4{
    order: 1;
  }

}

@media (max-width: 540px) {
 .box-icon{
  position: relative;
  top: 0;
  width: 40px;
  margin:auto;
  margin-top: 10px;
 }

 .grid-container{
  text-align: center;
  padding: 0;
 }

 .box-paragraph{
  margin: auto;
  width: 95%;
 }
}
